body {background:#fff;}
h1 {
	font-family: sans-serif;
	font-size: 15pt;
}

h2 {
	font-family: sans-serif;
}

h3 {
	font-family: sans-serif;
	padding-top: 20px;
}

p {
	font-family: sans-serif;
	font-size: 9pt;
}

img {
    padding-right: 50px;    
}

.eventinfo {
	font-size: 11pt;
}

tr.OK {
	/*background-color: #FAFFFA; */
}

tr.MP, tr.DNF {
	background-color: #FFFAFA;
}

td.Finish {
	background-color: #FFFFFF;
	font-weight: bolder;

}

div.results {
	font-family: sans-serif;
	font-size: 7pt;
	/*width: 100%;*/
}

div.results table{
	width: 100%;
}

table {
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 7pt;
	margin:0 0 15px; 
	table-layoutXX: fixed;
	text-align: left;
}

.classHeader {
	font-size: 16pt;
	font-weight: bolder;
	text-shadow: AAA 1pt 1pt;
}

.classResult {
	border-bottom: 1px solid #EEE;
	line-height: 1.4em;
	white-space: nowrap;
}

.classResult td {
	width: 37px;
}

.s {
	color: black;
	padding-left: 3px;
	padding-right: 3px;
}

.rPos,.sPos {
	position: relative; 
	top: -0.3em; 
	font-size: 70%;
	/*line-height: 0px;*/
	font-weight: lighter;
	float: right;
}

.r {
	color: #666;
	padding-left: 3px;
	padding-right: 3px;
}



.r1 {
	/* Winning split */
	font-weight: bolder;
	color: #e64d4d;
}

.r2 {
	/* Second split */
	font-weight: bold;
	/* background-color: #FFA540; */
}

.r3 {
	/* Third split */
	font-weight: bold;
	/* background-color:#FFBD73; */
}

.s1 {
	/* Winning split */
	font-weight: bolder;
	color:  #0000ff;
}

.s2 {
	/* Second split */
	font-weight: bold;
	/* background-color: #4380D3; */
}

.s3 {
	/* Third split */
	font-weight: bold;
	/* background-color:#6996D3; */
}
